{% extends 'app/base.html' %}
{% load static %}

{% block title %}About{% endblock title %}

{% block main-content %}
<div class="container mt-3">
    <br>
    <h3 class="text-center">About Us</h3>
    <br>
    <div class="row container">
         <p class="fs-6 text-center">
                Dairy Products has been a leading supplier of quality dairy products for over 20 years.
                Sourced from the finest farms and processed to the highest standards, our range includes milk, ghee, curd, and butter. Committed to customer satisfaction, we believe in the power of dairy to nourish and sustain.
         </p>
    </div>
        <br>
     <h3 class="text-center"> Mission </h3>
                <br>
                <div class="row container">
                <p class="fs-6 text-center">
                    Our mission is to provide nutritious and delicious dairy options that meet and exceed expectations. Upholding strict quality standards and prioritizing customer satisfaction, we continuously innovate and improve our products and services. Committed to excellence, sustainability, and community well-being.
                </p>
            </div>
    </div>
</div>
{% endblock main-content %}
