{% extends 'app/base.html' %}
{% load static %}
{% block title %}Checkout{% endblock title %}
{% block main-content %}
<div class="container">
    {% if messages %}
        {% for msg in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ msg }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="row mt-3">
        <div class="col-sm-6">
            <h3>Order Summary</h3>
            <hr>
            {% for item in cart_items %}
            <div class="card mb-2">
                <div class="card-body">
                  <h4>Product: {{ item.product.title }}</h4>
                  <p>Quantity: {{item.quantity}}</p>
                  <p class="fw-bold">Price: {{ item.product.discounted_price }}</p>
                 </div>
             </div>
            {% endfor %}
            <p class="fw-bold">Total Cost + Ksh. 30 = {{totalamount}} </p>
            <small>Terms and Condition: No refund after payment</small>
        </div>
        <div class="col-sm-4 offset-sm-1">
            <h3>Select Shipping Address</h3>
            <hr>
            <form method="post" id="myform">
                {% csrf_token %}
                {% for ad in add %}
                <div class="card">
                    <div class="card-body">
                        <h4>{{ ad.name }}</h4>
                        <p>Mobile: {{ad.mobile}}</p>
                        <p>{{ ad.locality }} {{ ad.city }} {{ ad.state }} - {{ ad.zincode }}</p>
                    </div>
                </div>
                <div class="form-check mt-2 mb-5">
                    <input class="form-check-input" type="radio" name="custid" id="custadd{{forloop.counter}}"  value="{{ ad.id }}">
                    <label class="form-check-label fw-bold" for="custadd{{forloop.counter}}">
                        Address:{{forloop.counter}}</label>
                </div>
                {% endfor %}
                <div class="form-check mb-3">
                    <label for = "totamount" class="form-label">Total Amount</label>
                    <input type="number" class="form-control" name="totamount" value={{totalamount}} readonly>
                </div>
                <div class="text-end">
                    <button type="submit" class="btn btn-warning mt-3 px-5 fw-bold">Pay Now</button>
                   <!-- <button id="rzp-button1" type="submit" class="btn btn-warning mt-3 px-5 fw-bold">Pay Now</button>-->
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock main-content %}
       